# Data Science Tools and Ecosystem

## Author
Ingo Qu√§schning

## Introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- Understand basic arithmetic operations in Python
- Learn how to convert time units (minutes to hours) using Python
- List popular languages for Data Science
- Implement and execute code cells in a Jupyter notebook
- Create and format markdown cells for better documentation

## Data Science Languages

Some of the popular languages that Data Scientists use Are:

1. Python
2. R
3. SQL

## Data Science Languages

Some of the Commonly ussed libararies used by Data Scientists include:

1. pandas - provides data structures and funktion to manipulate data
2. NumPY - numerical computing
3. scikit-learn - tools for datat minning and maschine learning

## Data Sience Tools
| Data Science Tool  |
|--------------------|
|Jupiter Notebook    |
|RStudio             |
|Apache Zeppelin.    |

## Arithmetic Operations in Python

### Below are a few examples of evaluating arithmetic expressions in Python.


- **Addition (`+`)**
  Adds two numbers together.
  Example: `5 + 3` results in `8`.
  
  
- **Subtraction (`-`)**
  Subtracts the second number from the first.
  Example: `10 - 4` results in `6`.
  
  
- **Multiplication (`*`)**
  Multiplies two numbers.
  Example: `7 * 3` results in `21`.
  
  
- **Division (`/`)**
  Divides the first number by the second.
  Example: `20 / 4` results in `5.0`.
  
  
- **Floor Division (`//`)**
  Divides the first number by the second and rounds down to the nearest integer.
  Example: `20 // 3` results in `6`.
  
  
- **Modulus (`%`)**
  Returns the remainder of the division of the first number by the second.
  Example: `20 % 3` results in `2`.
  
  
- **Exponentiation (`**`)**
  Raises the first number to the power of the second number.
  Example: `2 ** 3` results in `8`.

In [26]:
# This is a simple arithmetic expression to multiply then add integers
multiply = (3 * 4) + 5
multiply

17

In [28]:
# This will convert 200 minutes to hours by dividing by 60
hours = 200 / 60
hours

3.3333333333333335